:host {
    --primary: #D7DB51;
    --danger: #D55454;

    /* Backgrounds */
    --bg-default: #1E3148;

    --bg-accent: rgba(0, 0, 0, 0.1);
    --bg-primary-light: rgba(215, 219, 81, 0.07);
    --bg-primary-15: rgba(215, 219, 81, 0.15);

    /* Text colors */
    --text-color-default: white;
    --text-color-reverse: black;
    --text-color-placeholder: #6B7280;
    --text-color-80: rgba(255,255,255,0.8);

    /* Fonts */
    --font-title: "Open Sans Condensed", sans-serif;
    --font-default: "Open Sans", sans-serif;

    --font-size-default: 15px;
    --font-size-18: 18px;
    --font-size-24: 24px;

    --line-height-default: 20px;
    --line-height-24: 24px;
    --line-height-32: 32px;

    --border-radius-default: 12px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;
}